
<div class ="container">
	<div class = "header">
		<%= image_tag("/jumbotron.jpg", :class => "jumbotron") %>
		<div class = "words">
			<div class="top-left"><p class ="title">MY JOB</p></div>
			<div class="top-middle"><p class ="title">SEARCH</p></div>
      <div class="top-right"><img src="/fav.png" alt="" style="max-width:25%;height:auto;"></div>
		</div>    <!--words-->

  </div>    <!--header-->

	<div class="row">
  <div class="col-sm-4 col-sm-offset-2">
  	<h3>About the App</h3>
  	<p><strong>My Job Search</strong> is your on-line tool for managing your job search.  It offers the following features:</p>

    <ul>
    <li>Keep a database of companies that you are interested in.  Track potential jobs, contacts and overall progress.  See that progress with an easy-to-understand chart.</li>
    <li>Keep track of all the tasks involved in your search: reminders to update documents and social pages, follow-ups with companies and, importantly, tasks about keeping up with your network (coffees, etc).</li>
    <li>At a glance, see how many companies you've added to your search day-by-day.  See what are your most productive days of the week.</li>
    </ul>
  </div>    <!--first col-->

  <div class="col-sm-4">
  	<h3>About Us</h3>
  	<p><strong>My Job Search</strong> is brought to you by the team who knows something about job search.  Why? They are currently in search!</p>

    <p><strong>Peng</strong> loves slinging Ruby on Rails for the backend.  He's looking forward to landing a role building the foundation for a great website!</p>
    <p><strong>Kenneth</strong> loves sculpting beautiful experiences for the frontend.  He's looking forward to a role building the next user experience.</p>
    <p><strong>Tahl</strong> loves looking at the big picture from the product idea and brand to the design process.  He's looking forward to his next CTO role.</p>
    <p>Is <strong>My Job Search</strong> the next application startup?</p>
  </div>
  
  <br/>

  <div class="row quotes">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>What users are saying</h2>
      <h3>"I was so disorganized in my search process.  Now I have a free tool to help me organize my search process and see my process unfold."  --Victoria Psáximo </h3>
      <h3>"When I went looking for a search management app, I couldn't find one online.  That is until I ran into My Job Search.  Thanks guys!" --Paul von Nergens</h3>
      <h3>"Where have you guys been? Great stuff! I got a job in a week and the tool helped a lot!" -- Chris Columbus</h3>
    </div>
  </div>

  <br/>

  <div class="row salesPitch">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Sign-up today!</h2>
    </div>
  </div>

  <br/>
</div>

