<div class ="container">
	<div class = "header">
		<%= image_tag("jumbotron.jpg", :class => "jumbotron") %>
		<div class = "words">
			<div class="top-left"><p class ="title">MY JOB</p></div>
			<div class="top-middle"><p class ="title">SEARCH</p></div>
		</div>
		<div class="top-right"><img src="/fav.png" width="150" height="150" alt=""></div>
    </div>
	<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
  	<h3> Title</h3>
  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia pulvinar semper. Ut pharetra rutrum risus, a mattis massa elementum vel. Etiam sed orci fermentum, ultricies lorem ac, blandit est. Etiam ut ultricies risus, et maximus turpis. Integer id consectetur nisl. Nullam ullamcorper ante ac ligula finibus faucibus. Aliquam vitae viverra dui, ac aliquam lorem. Proin eget lacus nulla. Phasellus vitae semper augue, quis rhoncus risus. Sed non pharetra metus.</p>
  </div>
  <div class="col-sm-4">
  	<h3> Title</h3>
  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia pulvinar semper. Ut pharetra rutrum risus, a mattis massa elementum vel. Etiam sed orci fermentum, ultricies lorem ac, blandit est. Etiam ut ultricies risus, et maximus turpis. Integer id consectetur nisl. Nullam ullamcorper ante ac ligula finibus faucibus. Aliquam vitae viverra dui, ac aliquam lorem. Proin eget lacus nulla. Phasellus vitae semper augue, quis rhoncus risus. Sed non pharetra metus.</p>
  </div>
  <div class="col-sm-1"></div>
	</div>
</div>

