<div class="col-xs-10 col-xs-offset-1">
  <%= link_to "New Company", companies_path%>

  
  <div class="row" id="stat">
    <div class="col-xs-2">
      <h5>
        Company
      </h5>
    </div>
    <div class="col-xs-1">
      <h5>
        Resume Sent
      </h5>
    </div>
    <div class="col-xs-1">
      <h5>
        Screen
      </h5>
    </div>
    <div class="col-xs-1">
      <h5>
        Interview
      </h5>
    </div>
    <div class="col-xs-1">
      <h5>
        Negotiation
      </h5>
    </div>
    <div class="col-xs-1">
      <h5>
        Completed
      </h5>
    </div>

    <div class="col-xs-5">
    </div>
  </div>
  <%=render 'progress'%>

</div>
