<div class ="container-fluid">

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1 id="dashboard">About the Team</h1>
      <div class="abouttext">
        <p><strong>My Job Search</strong> is brought to you by the team who knows something about job search.  Why? They are currently in search!</p>

        <p>Is <strong>My Job Search</strong> the next application startup?</p>
      </div>
    </div>
  </div>

	<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="row">
        <div class="col-sm-4">
          <img src="/peng.jpg" class="img-responsive portrait" />
        </div>
        <div class="col-sm-8 biotext">
          <strong>Peng</strong> loves slinging Ruby on Rails for the backend.  He's looking forward to landing a role building the foundation for a great website!
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <img src="/kenneth.jpg" class="img-responsive portrait"/>
        </div>
        <div class="col-sm-8 biotext">
          <strong>Kenneth</strong> loves sculpting beautiful experiences for the frontend.  He's looking forward to a role building the next user experience.
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <img src="/tahl.png" class="img-responsive portrait"/>
        </div>
        <div class="col-sm-8 biotext">
          <strong>Tahl</strong> loves looking at the big picture from the product idea and brand to the design process.  He's looking forward to his next CTO role.
        </div>
      </div>
    </div>
  </div>

  <br/>
  
</div>    <!--container-->
