<div class ="container-fluid" id="aboutPage">

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <div id ="dashboard"> ABOUT THE TEAM</div>
      <div class="abouttext">
        <p><strong>My Job Search</strong> is brought to you by the team who knows something about job search.  Why? They are currently in search!</p>

      </div>
    </div>
  </div>

	<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="row">
        <div class="col-sm-4" id="responsive">
          <img src="/peng.jpg" class=" portrait" />
        </div>
        <div class="col-sm-8 biotext">
          <strong>Peng</strong> is a web developer that has knowledge of both front-end and back-end framework and languages. He is also easy to work with and because of his education background, he loves tos and has always collaborated with a diverse team environment where different ideas are being shared.
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4" id="responsive">
          <img src="/kenneth.jpg" class="portrait"/>
        </div>
        <div class="col-sm-8 biotext">
          <strong>Kenneth</strong> is an aspiring Full-Stack Web Developer born and raised in San Francisco with a knack for finding creative solutions to challenging problems. Tact with excellent communication skills and the ability to empathize with others.
        </div>
      </div>
    </div>
  </div>

  <br/>

</div>    <!--container-->
