// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.portrait {
	border-radius: 20%;
	max-width: 100%;
	height: 25vh;

}

.abouttext {
	font-size: 2.5vw;	
	font-family: 'Ubuntu', monospace;
	margin: 15px;
}

.biotext {
	font-size: 1.5vw;
	font-family: 'Ubuntu', monospace;
	margin-top: 15px;
}
