#stat,#company, #tasks{
	background-color: #b3b3b3;
	border: 1px solid black;

}



#tasks, {
	height: 42vh;   
    overflow-y: auto;    
    overflow-x: hidden; 
}

#company{ 
	height: 42vh;   
    overflow-y: auto;    
    overflow-x: hidden; 
}