#stat,#company, #tasks{
	background-color: white;
	border: 1px solid black;

}



#tasks, {
	height: 42vh;   
    overflow-y: auto;    
    overflow-x: hidden; 
    border: 2px solid #d5d5d5;
	box-shadow: 1px 1px 3px #b3b3b3;

}

#company{ 
	height: 47vh;   
    overflow-y: auto;    
    overflow-x: hidden; 

}


.taskbackground {
	background-image: url("/address.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center middle; 
    opacity: 0.6;
    color: white;
    text-shadow: 2px 2px black;
}

#bar, #bar2{
	background-color: white;
	border: 2px solid #d5d5d5;
	box-shadow: 1px 1px 3px #b3b3b3;

}