
#name,#dashboard, h1 {
  font-family: 'PT Mono', monospace;
	color:white;
	background-color: #a4c5dc;
	text-align:center;
	font-weight:bolder;
	font-size: 4vw;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center top;
    box-shadow: 1px 1px 3px #b3b3b3;
}

#square, #envelope, #card {
	text-align:center;
}



.profileField {
  font-size: 1vw;
  margin-top: 2vh;
  margin-bottom: 3vh;
}

.profileField2 {
  font-size: 1.5vw;
  margin-bottom: 2vh;
  margin-top: 2vh;
  margin-left: 20px;
}



#dashboard{
	margin-bottom: 10px;
}

.documentImg{
  width: 70%;
  height: auto;
}

.uploadBtn{
  max-width: 100%;
  font-size:1vw;
}

#logos {
	margin-top:16px;
	background-color:white;
	box-shadow: 1px 1px 1px #b3b3b3;
	height: 70vh;

}

#infos {
	background-color:white;
	box-shadow: 1px 1px 1px #b3b3b3;
}

#socials {

	background-color:white;
	box-shadow: 1px 1px 1px #b3b3b3;
}

#files {
	border: solid #b3b3b3 1px;
	overflow-y: auto;
    overflow-x: auto;
    height: 48vh;
    padding-left:5px;
}

#submitter {
	margin-left:10px;
}
