h1,h2,h3 {
	font-family: 'PT Mono', monospace;
}

nav {
  background-color: black;
  font-family: 'Ubuntu', monospace;
}

footer {
  background-color: black;
  text-align: center;
	
}

.quotes h3 {
	text-align: left;
	font-family: 'Ubuntu', monospace;
}

.salesPitch h2 {
	text-align: center;
	background-color: #FFE4B5;
/*	font-family: 'Ubuntu', monospace; */
}

#footer-text {
	color: white;
	margin: 15px;
}

body, p {
	font-family: 'Ubuntu', monospace;
}

li a {
  color: white;
}

li:not(:last-child) {
    margin-bottom: 5px;
}

.progress_bar {
  background-color: #7b99c1;
  height: 5vh;
}

.sorry {
  background-color: black;
  height: 5vh;
}
