h1,h2,h3 {
	font-family: 'PT Mono', monospace; 
}

nav {
  background-color: black;



}

li a {
  color: white;

}

.progress_bar {
  background-color: #7b99c1;
  height: 5vh;
}

.sorry {
  background-color: black;
  height: 5vh;
}

