.jumbotron {
width: 100%;
opacity: 0.3;
padding: 0px;
margin:0px;
background-color:#d5d5d5;

}

body {
background-color:#d5d5d5;
font-family: 'Ubuntu', sans-serif;	

}

.container{
width: 100%;
height: 100%;
padding: 0px 0px 10px 0px;
}

h3 {
	
text-align: center;
}

.col-sm-4{
	background-color: #b3b3b3;
	border: 2px solid #d5d5d5;
	margin-top: 20px;
    box-shadow: 1px 1px 3px #b3b3b3;


}

.top-left {
 	font-family: 'PT Mono', monospace; 
    position: absolute;
    top: 23%;
    left: 10%;
}

.top-middle {
    font-family: 'PT Mono', monospace; 
    position: absolute;
    top: 36%;
    left: 21%;
}

.title{
	font-family: 'PT Mono', monospace; 
	font-size: 8vw;
	font-weight: bold;
}

.top-right {
	font-family: 'PT Mono', monospace; 
    position: absolute;
    top: 33%;
    left: 60%;

}

.words {
	width:50%


}