<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <p id="footer-text" class="text-center">Kenneth Domine & Pengfei Ye | General Assembly</p>

  </div>
</nav>
